# Dependencies
node_modules/
client/node_modules/
server/node_modules/
.pnp
.pnp.js

# Production builds
dist/
client/dist/
server/dist/
build/
out/

# Scratch & Temporary
scratch/

# Environment variables & secrets
.env
.env.*
!.env.example
*.env
server/.env
client/.env
server/.env.local
client/.env.local
server/.env.production
client/.env.production
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript cache
*.tsbuildinfo
